      .h1 {
          color: #ffffff !important;
      }

      @media (min-width: 576px)
      .modal {
        --mdb-modal-margin: 1.75rem;
        --mdb-modal-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
        z-index: 9999;
      }

      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }

      .carousel-item:nth-child(1) {
        background-image: url('../imgs/bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(2) {
        background-image: url('../imgs/wood-deck.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(3) {
        background-image: url('../imgs/concrete.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      @media (min-width: 992px) {
        #introCarousel {
          margin-top: 0px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
        z-index: 1500;
      }

      .hidden {
        color:#ffffff !important;
        font-size: 0.1rem;
        cursor: pointer;
      }

      a {
        color: #000;
      }

      .img-fluid, .img-thumbnail {
        width: 100vw;
        height: 30vh;
        object-fit: cover;
      }